@media screen and (min-width: 1200px) {
  h1 {
    font-size: 9.375rem;
  }
  body {
    position: relative;
  }
  // navbar
  header {
    left: 0;
    right: 0;
    top: 2rem;
    background-color: transparent;
    position: absolute;
    padding-left: 1rem;
    &::before {
      content: "";
      position: absolute;
      height: 0.5px;
      width: 35%;
      background-color: $white;
      opacity: 0.5;
      margin-left: 5rem;
    }
    nav {
      min-width: 2rem;
      background: transparent;
      backdrop-filter: blur(20.5485px);
    }
  }

  // home
  .home {
    background-image: url("/src/images/bgPc.png");
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10.3125;
    padding-top: 20rem;

    > div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 28.13rem;
      height: 23.88rem;
      text-align: left;
    }
    .explore {
      margin: initial;
      width: 17.13rem;
      height: 17.13rem;
      border-radius: 50%;
      color: black;
      font-size: 3em;
      margin-left: 5rem;
      padding: 2rem;
    }
  }

  //destination

  .destinationPlanets {
    display: flex;
    justify-content: space-between;
    text-align: left;
    align-items: center;
    padding: 0 7rem;
    padding-top: 10rem;

    hr {
      height: 0.5px;
      margin-top: 2rem;
    }
    .planetsImg {
      margin-top: 5rem;
      width: 27.81rem;
      margin-left: 3rem;
    }
    .secondDiv {
      width: 50%;
      margin: initial;
      margin-left: 16rem;
    }
    .botInfo {
      display: flex;
      width: 15.8125rem;
      justify-content: space-around;
      margin: initial;
    }
    .planetsTitles {
      margin: initial;
    }
    article {
      padding: initial;
    }
  }

  //   Crews
  p.title.crewTitle {
    padding-top: 10rem;
  }
  section.crews {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: initial;
    padding-left: 5rem;
    // position: relative;
    margin-top: 10vh;
    img {
      width: 70%;
      // position: absolute;
      bottom: 0;
      right: -10rem;
      align-self: flex-end;
    }

    > div {
      text-align: left;
      display: flex;
      flex-direction: column;
      width: 35.5rem;
      justify-content: space-between;
      height: 50vh;
      align-self: flex-start;
      font-size: 1.125rem;
      .dots {
        margin: initial;
        order: 5;
        display: flex;
        margin-top: 2rem;
      }
    }
  }

  //   technology
  section.tech {
    padding-top: 5rem;
    > div {
      display: flex;
      flex-direction: row-reverse;
      margin-top: 6rem;
      justify-content: space-between;
      .info {
        display: flex;
        align-items: center;
        margin-left: 2rem;
        .infoTwo {
          width: 29.38rem;
          text-align: left;
          margin: initial;
        }
      }
      .numberC {
        flex-direction: column;
        height: 20rem;
        margin: initial;
        div {
          width: 5rem;
          height: 5rem;
        }
      }
    }
  }
}
